<ng-container *ngIf="chartType=='1'">
  <chart [type]="type" [data]="dataDemandGenaration" [options]="options" style="height:310px;width:100%"></chart>
  <div class="row text-center mt-3" *ngIf="requestContract">
    <div class="col-6">
      <h6 class="text-muted">Demanda contratada {{ requestContract }}MW</h6>
    </div>
    <div class="col-6">
      <!-- <h6 class="text-muted"><i class="fa fa-arrow-up text-danger mr-2"></i>15% acima da demanda</h6> -->
    </div>
  </div>
</ng-container>

<ng-container *ngIf="chartType=='2'">
  <chart [type]="type" [data]="dataHidroSeasonsList" [options]="options" style="height:310px;width:100%"></chart>
</ng-container>
