.card {
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
    border: none;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}
.card h2 {
    font-size: 2rem;
    font-weight: 600;
}
.card h6 {
    font-size: 0.875rem;
    font-weight: 600;
}
.card i {
    color: #fff;
    font-size: 80px;
    position: absolute;
    bottom: -10px;
    opacity: 0.3;
    left: -10px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    transition: all 0.3s ease-in-out;
}