<div class="card bg-{{status}} text-white">
  <div class="py-3 text-center">
    <h2>{{value}} {{measure}}</h2>
    <h6><ng-content></ng-content></h6>
    <i *ngIf="check; else alert" class="feather icon-check-circle"></i>
    <ng-template #alert >
      <i class="feather icon-alert-octagon"></i>
    </ng-template>
  </div>
</div>