<div id="hidroSeasonsList" class="card mx-2" *ngFor="let hidroInfo of hidroSeasonsList">
  <div class="card-block">
    <div class="row align-items-center">
      <div class="col-8">
        <h4 class="text-warning">{{hidroInfo?.nomeEstacao}}</h4>
        <h6 class="text-muted m-b-0">Chuva (mm): {{hidroInfo?.chuvaAcumulada | number}}</h6>
      </div>
      <div class="col-4 text-right">
        <i class="feather icon-cloud-rain f-28"></i>
      </div>
    </div>
  </div>
  <div class="card-footer bg-warning d-flex">
    <div class="row align-items-center">
      <div class="table-border-style">
        <div class="table-responsive">
          <table class="table table-borderless text-white">
            <thead>
              <tr>
                <th class="p-0 px-1"></th>
                <th class="p-0 px-1"></th>
                <th class="p-0 px-1">Min.</th>
                <th class="p-0 px-1">Méd.</th>
                <th class="p-0 px-1">Máx.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="p-0 px-1"><i class="feather icon-trending-up text-white f-16"></i> </td>
                <td class="p-0 px-1">Cota (m)</td>
                <td class="p-0 px-1">{{hidroInfo?.nivelMinimo | number}}</td>
                <td class="p-0 px-1">{{hidroInfo?.nivelMedio | number}}</td>
                <td class="p-0 px-1">{{hidroInfo?.nivelMaximo | number}}</td>
              </tr>
              <tr>
                <td class="p-0 px-1"><i class="feather icon-trending-down text-white f-16"></i></td>
                <td class="p-0 px-1">Vazão (m3/s)</td>
                <td class="p-0 px-1">{{hidroInfo?.vazaoMinima / 1000 | number}}</td>
                <td class="p-0 px-1">{{hidroInfo?.vazaoMedia / 1000 | number}}</td>
                <td class="p-0 px-1">{{hidroInfo?.vazaoMaxima / 1000 | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <p class="text-white m-b-0"><i class="feather icon-trending-up text-white f-16"></i> Cota (m)</p>
        <p class="text-white m-b-0"><i class="feather icon-trending-down text-white f-16"></i> Vazão (m3/s)</p> -->
      </div>
    </div>
  </div>
</div>