<div class="row">
  <div class="col-sm-12">
    <label class="dt-cust-search float-right">
      <div class="form-group">
        <label>Search: </label>
        <input type='text' class="form-control input-sm ml-3" placeholder='pesquisar' (keyup)='updateFilter($event)' />
      </div>
    </label>
  </div>
</div>
<ngx-datatable #table class='data-table' [columns]="columns" [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]='rowsFilter'>
</ngx-datatable>