<div class="table-responsive">
  <table class="table border-top-0 border-bottom-0">
    <thead>
      <tr>
        <th></th>
        <th>Energia Ativa</th>
        <th>Energia Reativa</th>
        <th>Demanda Max</th>
        <th>Demanda Contr. P</th>
        <th>Demanda Contr. FP</th>
        <th>Fator Carga P</th>
        <th>Fator Carga FP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Geração</th>
        <td class="table-info">{{reportDailyPointData?.geracaoAtivaTotal || 0 | number: '1.0-0'}} MWh</td>
        <td class="table-info">{{reportDailyPointData?.geracaoReativa || 0 | number: '1.0-0'}} VArh</td>
        <td class="table-info">{{reportDailyPointData?.demandaMaximaGeracaoPonta || 0 | number: '1.0-0'}} MW</td>
        <td class="table-info">{{reportDailyPointData?.demandaContratadaGeracaoPonta || 0 | number: '1.0-0'}} MW</td>
        <td class="table-info">{{reportDailyPointData?.demandaContratadaGeracaoFora || 0 | number: '1.0-0'}} MW</td>
        <td class="table-info">{{reportDailyPointData?.fatorCargaGeracaoPonta || 0 | number: '1.0-0'}} %</td>
        <td class="table-info">{{reportDailyPointData?.fatorCargaGeracaoFora || 0 | number: '1.0-0'}} %</td>
      </tr>
      <tr>
        <th scope="row">Consumo</th>
        <td class="table-warning">{{reportDailyPointData?.consumoAtivoTotal || 0 | number: '1.0-0'}} MWh</td>
        <td class="table-warning">{{reportDailyPointData?.consumoReativo || 0 | number: '1.0-0'}} VArh</td>
        <td class="table-warning">{{reportDailyPointData?.demandaMaximaConsumoPonta || 0 | number: '1.0-0'}} MW</td>
        <td class="table-warning">{{reportDailyPointData?.demandaContratadaConsumoPonta || 0 | number: '1.0-0'}} MW</td>
        <td class="table-warning">{{reportDailyPointData?.demandaContratadaConsumoFora || 0 | number: '1.0-0'}} MW</td>
        <td class="table-warning">{{reportDailyPointData?.fatorCargaConsumoPonta || 0 | number: '1.0-0'}} %</td>
        <td class="table-warning">{{reportDailyPointData?.fatorCargaConsumoFora || 0 | number: '1.0-0'}} %</td>
      </tr>
    </tbody>
  </table>
</div>