<div class="wrapper">
  <div id="top-header" class="container">
    <nav class="navbar" role="navigation">
      <div class="container">
        <a class="navbar-brand"><img src="assets/images/emeter.png" alt="Digest - Emeter" /></a>
        <span class="nav-item">Relatório de Gestão SCDE e Gestão de Geração - <strong class="font-weight-bold">Dia
            {{date | date:'dd/MM/yy'}}</strong></span>
      </div>
    </nav>
  </div>
  <div id="header">
    <div class="hero-section app-hero pb-5">
      <div class="container">
        <div class="hero-content app-hero-content">
          <div class="row">
            <div class="col-md-6">
              <div class="w-75">
                <vtl-card value="{{reportDailyPointData?.garantiaFisica || 0 | number}}" measure="MW" status="primary">
                  Garantia
                  física contratada</vtl-card>
                <vtl-card value="{{reportDailyPointData?.consumoAtivoTotal || 0 | number}}" measure="MWh" status="info"
                  [check]="false">Consumo ativo total em
                  {{date | date:'dd/MM/yy'}}</vtl-card>
              </div>
            </div>
            <div class="col-md-6 pb-5">
              <h1 class="pb-3">{{reportDailyPointData?.nomePonto || 'Indisponível'}}</h1>
              <p class="pb-4">{{reportDailyPointData?.concessionaria || 'Indisponível'}}</p>
              <a class="btn btn-lg btn-round btn-info mr-4 px-5" [ngx-scroll-to]="'#digest-bottom'">Detalhes</a>
              <a class="btn btn-lg btn-round btn-outline-info px-5" [ngx-scroll-to]="'#download'">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="digest" class="py-5">
    <div class="container py-5">
      <div class="row text-center pb-5">
        <div class="col-md-12">
          <h3 class="pb-4">Digest Diário</h3>
          <h2>Detalhes do dia {{date | date:'dd/MM/yy'}}</h2>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-6">
          <vtl-panel title="Ponto: {{reportDailyPointData?.nomePonto || 'Indisponível'}} | Medidor: Principal">
            <vtl-chart-hour id="reportDailyPointDemandGen" [dataChart]="reportDailyPointDemandGen"
              dateChart="{{date | date:'dd/MM/yy'}}" chartType="1" label1="Demanda Gerada" label2="Demanda Contratada">
            </vtl-chart-hour>
          </vtl-panel>
        </div>
        <div class="col-md-6">
          <h2>Gráfico de Demanda Geração (kw)</h2>
          <p>Informações sobre o relatório... porque ele existe?</p>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-6">
          <h2>Gráfico de Energia Ativa Geração (kwh)</h2>
          <p>Informações sobre o relatório... porque ele existe?</p>
        </div>
        <div class="col-md-6">
          <vtl-panel title="Ponto: {{reportDailyPointData?.nomePonto || 'Indisponível'}} | Medidor: Principal">
            <vtl-chart-hour id="reportDailyPointGeneration" [dataChart]="reportDailyPointGeneration"
              dateChart="{{date | date:'dd/MM/yy'}}" chartType="1" label1="Media Diária"></vtl-chart-hour>
          </vtl-panel>
        </div>
      </div>
    </div>
  </div>
  <div id="hydro" class="py-5">
    <div class="container py-5">
      <div class="row text-center pb-5">
        <div class="col-md-12">
          <h3 class="pb-4">Hidrologia</h3>
          <h2>Detalhes do dia {{date | date:'dd/MM/yy'}}</h2>
        </div>
      </div>
      <div class="row py-5">
        <vtl-card-full [hidroSeasonsList]="reportDailyPointData?.dadosEstacoesHidrologia" class="d-flex">
        </vtl-card-full>
      </div>
    </div>
  </div>
  <div id="charts" class="py-5">
    <div class="container py-5">
      <div class="row pb-5">
        <div class="col-md-6">
          <h2>Gráfico de Cota, Nível, Chuva e Vazão do dia {{date | date:'dd/MM/yy'}}</h2>
          <p>Rio Roseira, Ponte BR 153, Barramento e Jusante</p>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row py-5">
        <div class="col-md-12">
          <vtl-panel title="Gráfico de Cota">
            <div class="row m-b-30">
              <div class="col-12">
                <div class="sub-title">Ponto: {{reportDailyPointData?.nomePonto || 'Indisponível'}} | Data:
                  {{date | date:'dd/MM/yy'}}</div>
                <div class="md-tabs">
                  <ngb-tabset>
                    <ngb-tab *ngFor="let station of reportDailyHidroSeasonsList" [title]="station.nomeEstacao">
                      <ng-template ngbTabContent>
                        <div class="mt-4">
                          <vtl-chart-hour id="reportDailyHidroSeasonsList" [dataChartHidro]="station.dadosHidrologia"
                            dateChart="{{date | date:'dd/MM/yy'}}" chartType="2" label1="Variação"
                            label2="Média Diária"></vtl-chart-hour>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>
            </div>
          </vtl-panel>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div id="digest-bottom" class="py-5">
    <div class="container py-5">
      <div class="row text-center pb-5">
        <div class="col-md-12">
          <h3 class="pb-4">Geração x Consumo x Demanda</h3>
          <h2>Detalhes do dia {{date | date:'dd/MM/yy'}}</h2>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-12">
          <vtl-panel title="Resumo | Medidor: Principal">
            <vtl-resume-table [reportDailyPointData]="reportDailyPointData"></vtl-resume-table>
          </vtl-panel>
        </div>
      </div>
    </div>
  </div>
  <div id="download">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-6">
          <h3 class="pb-4">Download</h3>
          <h2 class="pb-3">Mais informações sobre o relatório</h2>
          <p class="pb-2">Dados importantes sobre o download e até quando o mesmo ficará disponível</p>
          <a class="btn btn-lg btn-round btn-info px-5" (click)="downloadPDF()">Download</a>
        </div>
        <div class="col-md-6 text-center">
          <img src="assets/images/emeter.png" alt="Digest - Emeter" height="64" />
        </div>
      </div>
    </div>
  </div>
  <hr>
  <vtl-footer></vtl-footer>
</div>