h1 {
    color: #1E2D3D;
    font-weight: 600;
}

h2 {
    color: #1E2D3D;
}

h3 {
    text-transform: uppercase;
    color: #DBE6ED;
    font-weight: 600;
}

p {
    font-size: 1.3rem;
}

.btn.btn-outline-info {
    color: #1EA9FC;
    border-color: #1EA9FC;
    font-weight: 600;
}

.btn.btn-info:hover {
    box-shadow: 0px 23px 60px 0px rgba(30,169,252,0.15); 
}

.btn.btn-outline-info:hover, 
.btn.btn-info {
    color: #FFFFFF;
    background-color: #1EA9FC;
    border-color: #1EA9FC;
    font-weight: 600;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus, .btn-info:focus, .btn-info.focus {
    box-shadow: 0px 23px 60px 0px rgba(30,169,252,0.15); 

}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    background-color: #1EA9FC;
    border-color: #1EA9FC;
}

.btn.btn-round {
    border-radius: 2rem;
}

.navbar-brand img {
    height: 64px;
}

.app-hero-content {
    overflow: hidden;
    padding: 150px 0 0 0;
}