/*general*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Assistant', sans-serif;
    vertical-align: baseline;
    font-weight: 300;
}
body {
    background-image: url('/assets/images/background.jpg');
    background-repeat: no-repeat;
}
a.btn-info {
    color: #ffffff !important;
}
/*vtl-datatable*/
ngx-datatable.data-table {
    border: 1px solid #eceeef;
}
.data-table datatable-header {
    border-bottom: 2px solid #ccc;
}
.datatable-footer {
    border-top: 2px solid #ccc;
    padding: 0 0.75rem;
    background-color: #eceeef;
    box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.15);
}
.data-table .empty-row {
    padding: 0.75rem;
    text-align: center;
}
.data-table .datatable-row-wrapper:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.data-table datatable-body-cell {
    padding: 0.75rem;
}
.data-table datatable-body-cell + datatable-body-cell {
    border-left: 1px solid #eceeef;
}
.data-table datatable-header-cell .datatable-header-cell-label {
    padding: 0.75rem 30px 0.75rem 0.75rem;
}
.data-table datatable-header-cell + datatable-header-cell {
    border-left: 1px solid #eceeef;
}
.data-table datatable-header-cell.sortable:before, .data-table datatable-header-cell.sortable:after {
    font-family: 'IcoFont' !important;
    position: absolute;
    top: 10px;
    color: #ccc;
    font-size: 20px;
}
.datatable-header-cell-wrapper, .datatable-header-cell-label {
    display: block;
}
.dt-cust-search.float-right label {
    display: inline-block;
}
.dt-cust-search.float-right .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border-radius: 2px;
}
.data-table datatable-header-cell.sortable:after {
    content: "\eb53";
    right: 10px;
}
.data-table datatable-header-cell.sortable:before {
    content: "\eb56";
    right: 15px;
}
.data-table datatable-header-cell.sortable.sort-active.sort-desc:after, .data-table datatable-header-cell.sortable.sort-active.sort-asc:before {
    color: #666;
}
.data-table.scroll .datatable-body, .data-table.fullscreen .datatable-body {
    height: 500px !important;
}
.data-table datatable-scroller {
    width: auto !important;
}
.datatable-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px;
}
.datatable-footer .page-count {
    line-height: 50px;
    height: 50px;
    padding: 0 1.2rem;
}
.datatable-footer .datatable-pager {
    margin: 0 10px;
}
.datatable-footer .datatable-pager li {
    vertical-align: middle;
}
.datatable-footer .datatable-pager li.disabled a {
    color: rgba(0, 0, 0, 0.26) !important;
    background-color: transparent !important;
}
.datatable-footer .datatable-pager li.active a {
    background-color: #1ea9fc;
    color: #fff;
}
.datatable-footer .datatable-pager a {
    padding: 0 6px;
    border-radius: 3px;
    margin: 6px 3px;
    text-align: center;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    vertical-align: bottom;
}
.datatable-footer .datatable-pager a:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(158, 158, 158, 0.2);
}
.datatable-footer .datatable-pager .datatable-icon-left, .datatable-footer .datatable-pager .datatable-icon-skip, .datatable-footer .datatable-pager .datatable-icon-right, .datatable-footer .datatable-pager .datatable-icon-prev {
    font-size: 20px;
    line-height: 20px;
    padding: 0 3px;
}
.datatable-icon-right:before {
    content: "\eb27";
    font-family: 'icofont';
    font-style: normal;
}
.datatable-icon-skip:before {
    content: "\eb3a";
    font-family: 'icofont';
    font-style: normal;
}
.datatable-icon-left:before {
    content: "\eb26";
    font-family: 'icofont';
    font-style: normal;
}
.datatable-icon-down:before {
    content: "\eb28";
    font-family: 'icofont';
    font-style: normal;
}
.datatable-icon-prev:before {
    content: "\eb39";
    font-family: 'icofont';
    font-style: normal;
}
.dt-desc {
    padding: 0.45rem 50px;
}
.dt-desc th, .dt-desc td {
    padding: 0.75rem;
}
.dt-desc table {
    min-width: 400px;
}
.datatable-row-detail {
    background-color: #f9f9f9;
    box-shadow: inset 0px 2px 9px -6px rgba(0, 0, 0, 0.68);
}
.expandable datatable-body-cell + datatable-body-cell, .expandable datatable-header-cell + datatable-header-cell {
    width: calc(calc(100% - 50px) / 5) !important;
}
.expandable .datatable-body-row, .expandable .datatable-header-inner {
    width: 100% !important;
}
.datatable-row-center, .datatable-scroll, .data-table.expandable datatable-scroller {
    width: 100% !important;
}
.ngx-datatable.data-table.single-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.data-table.multi-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.data-table.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.data-table.multi-selection .datatable-body-row.active .datatable-row-group {
    background: #1ea9fc !important;
    color: #fff !important;
}
.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    overflow: visible !important;
}
.selection-cell .datatable-body-cell.active {
    background: #1ea9fc !important;
    color: #fff !important;
}
.selected-column label {
    margin-bottom: 5px;
}
.dt-chk label {
    margin-bottom: 0;
}
.dt-chk .datatable-body-cell {
    line-height: 1 !important;
    overflow: hidden;
}
.full-data-search {
    margin-left: 0.5em;
    display: inline-block;
    width: auto !important;
}
.full-data-show-entry {
    width: 75px;
    display: inline-block;
}
.full-data-table .glyphicon {
    font-family: IcoFont;
    position: absolute;
    right: 14px;
    font-size: 20px;
    top: 9px;
}
.full-data-table .glyphicon.glyphicon-triangle-bottom:before {
    content: "\eb53";
}
.full-data-table .glyphicon.glyphicon-triangle-top:before {
    content: "\eb56";
}
.full-data-table th {
    position: relative;
}
.data-table datatable-footer, .data-table datatable-footer {
    background-color: transparent;
}
.datatable-footer .datatable-pager a, .datatable-footer .datatable-pager a {
    color: #dbe6ed;
}
.datatable-row-detail, .datatable-row-detail {
    background-color: transparent;
}

/* vtl-panel */
.card .card-header .card-header-right .card-option {
    width: 140px;
    transition: unset;
}
.card .card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 20px;
    position: relative;
}
.card .card-header h5 {
    margin-bottom: 0;
    color: #37474f;
    font-size: 0.9375rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
}
.card .card-header .card-header-right {
    right: 10px;
    top: 13px;
    display: inline-block;
    float: right;
    padding: 7px 0;
    position: absolute;
}
.card .card-header .card-header-right .card-option {
    /* width: 35px; */
    height: 20px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.card .card-header .card-header-right .card-option li {
    display: inline-block;
}
.card .card-header .card-header-right i {
    margin: 0 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #37474f;
    line-height: 1;
}
.card .card-block {
    padding: 1.25rem;
}

/* tabs */
.md-tabs {
    position: relative;
}
.md-tabs .nav-item + .nav-item {
    margin: 0;
}
.md-tabs .nav-link {
    border: none;
    color: #37474f;
}
.md-tabs .nav-item {
    flex: 1;
    text-align: center;
    position: relative;
}
.md-tabs .nav-link:focus,
.md-tabs .nav-link:hover {
    border: none;
    border-bottom: 4px solid #dddddd;
}
.md-tabs .nav-item .nav-link.active ~ .slide {
    opacity: 1;
    transition: all 0.3s ease-out;
}
.md-tabs .nav-item .nav-link ~ .slide {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.md-tabs .nav-item.open .nav-link,
.md-tabs .nav-item.open .nav-link:focus,
.md-tabs .nav-item.open .nav-link:hover,
.md-tabs .nav-link.active,
.md-tabs .nav-link.active:focus,
.md-tabs .nav-link.active:hover {
    color: #448aff;
    border: none;
    border-bottom: 4px solid #448aff;
    background-color: transparent;
    border-radius: 0;
}
.md-tabs .nav-tabs .nav-link.active, 
.md-tabs .nav-tabs .nav-item.show .nav-link {
    border-color: #448aff;
}
.md-tabs .nav-item a {
    padding: 20px 0;
    color: #37474f;
}
.table.border-top-0 tr th {
    border-top: 0;
}
.table.border-bottom-0 tr th {
    border-bottom: 0;
}