<footer>
  <div class="container-fluid py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4 pb-3">
          <img src="assets/images/vetorlog.png" alt="Digest - Vetorlog" height="64" />
        </div>
        <div class="col-md-8">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a href="#!" class="nav-link">
                <i class="fab fa-facebook-messenger fa-2x"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link">
                <i class="fab fa-twitter fa-2x"></i></a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link">
                <i class="fab fa-linkedin-in fa-2x"></i></a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link">
                <i class="fab fa-instagram fa-2x"></i></a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link">
                <i class="fab fa-youtube fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>